{
  "extends": "react-app",
  "globals": {
    "chrome": "readonly"
  },
  "rules": {
    // opinions
    "indent": [
      "error",
      "tab",
      {
        "SwitchCase": 1
      }
    ],
    "no-tabs": "off",
    "semi": ["error", "never"],
    "comma-dangle": [
      "error",
      {
        "arrays": "always-multiline",
        "objects": "always-multiline",
        "imports": "always-multiline",
        "exports": "always-multiline",
        "functions": "never"
      }
    ],
    // functions
    "func-name-matching": ["error", "never"],
    "func-names": ["error", "as-needed"],
    "func-style": [
      "warn",
      "declaration",
      {
        "allowArrowFunctions": true
      }
    ],
    "function-call-argument-newline": ["error", "consistent"],
    "function-paren-newline": ["error", "consistent"],
    "implicit-arrow-linebreak": ["error", "beside"],
    "lines-between-class-members": [
      "error",
      "always",
      {
        "exceptAfterSingleLine": true
      }
    ],
    "max-statements-per-line": [
      "warn",
      {
        "max": 2
      }
    ],
    "no-return-assign": "off",
    // formatting / syntax
    "multiline-ternary": ["error", "always-multiline"],
    "newline-per-chained-call": ["warn"],
    "no-lonely-if": "warn",
    "no-mixed-operators": "warn",
    "no-extra-boolean-cast": "error",
    "no-extra-parens": [
      "error",
      "all",
      {
        "nestedBinaryExpressions": false,
        "ignoreJSX": "all"
      }
    ],
    "no-else-return": [
      "warn",
      {
        "allowElseIf": false
      }
    ],
    "no-extra-bind": "error",
    "no-useless-return": "warn",
    "eqeqeq": "warn",
    "no-plusplus": "off",
    "no-void": "off",
    "no-nested-ternary": "off",
    "no-multi-assign": "warn",
    "no-unneeded-ternary": "warn",
    "grouped-accessor-pairs": "warn",
    "operator-assignment": ["warn", "always"],
    "operator-linebreak": ["warn", "before"],
    "padded-blocks": ["error", "never"],
    "no-extra-parens": "off",
    "object-curly-spacing": "off",
    "import/no-extraneous-dependencies": "off",
    "import/prefer-default-export": "off",
    // react
    "react/react-in-jsx-scope": "off",
    "react/jsx-indent": ["error", "tab"],
    "react/jsx-indent-props": ["error", "tab"],
    "jsx-a11y/anchor-is-valid": "warn",
    "react/jsx-filename-extension": "off",
    "react/jsx-max-props-per-line": [
      "warn",
      {
        "maximum": 1
      }
    ],
    "react/no-access-state-in-setstate": "warn",
    "react/jsx-props-no-spreading": "off",
    // redux
    "no-param-reassign": "off", // this rule is global but needs to be disabled to work w/ latest redux-toolkit (see [immerjs](https://immerjs.github.io/immer/))
    "linebreak-style": "off"
  }
}
